.Dropdown {
  position: relative;
  width: 24rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #343434;
    font-size: 1.4rem;
    height: 3.2rem;
    padding: 5px 1.2rem;
    border-radius: 4px;
    border: 1px solid #2e2e2e;
    cursor: pointer;
    user-select: none;

    & i {
      width: 7px;
      height: 7px;
      border: 1px solid #2e2e2e;
      transform: rotate(45deg);
      
      &.up {
        border-style: solid none none solid;
        margin-top: 4px;
      }

      &.down {
        border-style: none solid solid none;
        margin-bottom: 3px;
      }
    }
  }

  &__options {
    position: absolute;
    width: 100%;
    list-style: none;
    box-shadow: 0 2px 2px 0 #dad8d8;
    z-index: 999;
  }

  &__option {
    display: flex;
    align-items: center;
    padding: 1.2rem 1rem;
    background-color: white;

    &:hover {
      background-color: #cecece;
    }

    &.selected {
      background-color: #eaeaea;
    }

    & > img {
      width: 2.4rem;
      height: 2.4rem;
      object-fit: contain;
      margin-right: 1.2rem;
    }

    & > p {
      font-size: 1.4rem;
      text-transform: capitalize;
    }
  }
}