.Header {
  display: flex;
  align-items: center;
  height: 11.4rem;
  padding: 2rem;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);

  &__content {
    width: 114rem;
    margin: 0 auto;
  }

  &__logo {
    width: 20.8rem;
  }
}