.Hit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  height: 9rem;
  padding-inline-start: 2.6rem;
  overflow: hidden;
  cursor: default;

  &__content {
    width: calc(100% - 6.8rem);
    padding-right: 1.5rem;
  }

  &__meta-data {
    display: flex;
    align-items: center;
    margin-bottom: 6px;

    & > img {
      width: 1.6rem;
      height: 1.6rem;
      object-fit: contain;
      margin-right: 5px;
    }

    & > p {
      font-size: 1.1rem;
      color: #767676;
    }
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: .25px;
    color: #606060;
  }

  &__heart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.8rem;
    height: 100%;
    background-color: #F5F5F5;

    & > img {
      width: 24px;
      height: 22px;
      object-fit: contain;
      cursor: pointer;
    }
  }

  &:hover {
    opacity: .6;
  }
}