.Pagination {
  position: absolute;
  bottom: -7.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 4px;
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;

    &.active,
    &:hover {
      background-color: #1890ff;
      border: 1px solid #1890ff;
      color: #fff;

      .Pagination__arrow {
        border-color: #fff;
      }
    }

    @media only screen and (max-width: 32em) {
      width: 2.7rem;
      height: 2.7rem;
      margin: 0 3px;
    }
  }

  &__page-numbers {
    display: flex;
    list-style: none;
  }

  &__page-number {
    font-size: 1.4rem;
    font-weight: normal;

    @media only screen and (max-width: 32em) {
      font-size: 1.2rem;
    }
  }

  &__arrow {
    width: .7rem;
    height: .7rem;
    border: 1px solid rgba(0, 0, 0, 0.65);;
    transform: rotate(45deg);
    
    &.left {
      border-style: none none solid solid;
      margin-left: 3px;
    }

    &.right {
      border-style: solid solid none none;
      margin-right: 3px;
    }
  }
}