//colors
$color-blue: #1797FF;
$color-gray-100: #fcfcfc;
$color-gray-200: #d6d6d6;
$color-gray-300: #979797;
$color-gray-400: #767676;
$color-gray-500: #6b6b6b;
$color-gray-600: #606060;
$color-white: #fff;
$color-black: #000;